  body
  {
      margin: 0;
  }
  /* accueil-image */
  
  .centered1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 250px;
  }

 .accueil-container {
    position: relative;
    text-align: center;
    color: white;
  }

  .imgaccueil
  {
      max-width: 100%;
  }

  /* Mexique */

  .mexico1-container img
  {
    max-width: 50%;
  }

  .mexico1-container
  {
      display: flex;
      flex-direction: row;
  }
 .scroller-container 
{
    height: 525px;
    overflow-y: scroll;
    border: 5px solid blueviolet;
    /* scroll-behavior: smooth; */
    /* scroll-snap-type: y mandatory; */
}

.scroll-image
{
    width: 800px;
}

.general-container
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}