/* *{
	border: 1px solid black;
} */
@font-face {
	font-family: 'Tampon';
	src: url('../ressources/typos/old_stamper.ttf');
}

@font-face {
	font-family: 'Queen';
	src: url('../ressources/typos/Pretty Queen.ttf');
}

html, body{
	margin: 0;
	width: 100vw;
}

header{
	position: fixed;
	top: 100px;
	left: -120px;

	width: 150px;;
	height: 300px;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	border-radius: 0px 12px 12px 0px;
	box-shadow: -10px 12px 10px 1px rgba(5, 5, 5, .6);
	padding: 0;
	margin: 0;
}

header:hover{
	transition: left 0.3s ease;
	left: 0;
}

.ticket .div_logo{
	height: 30%;
	background-color: red;
	border-radius: 0px 10px 0px 0px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.rond_logo{
	align-content: center;
	background-color: white;
	border-radius: 200px;
}

.div_nav{
	position: relative;
	height: 70%;
	width: 100%;
	background-color: white;
	border-radius: 0px 0px 10px 0px;
	display: flex;
	justify-content: space-between;
}

.ticket_gauche{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.ticket_gauche h1{
	font-size: 10px;
	margin: 0;
	margin-top: 6px;
	padding: 0;
	color: grey;
}

.ticket_gauche h2{
	font-size: 10px;
	margin: 0;
	padding-left: 10px;
	color: black;
}



.ticket_droit{
	position: absolute;
	left:-6px;
	top: 40px;
	height: 30px;
	width: 280px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	transform: rotate(-90deg);
	color: black;
	font-size: 20px;
}

.ticket_droit img{
	transform: rotate(45deg);
}

.ticket_droit h1{
	color: grey;
	font-size: 20px;
}

.ticket_gate h3{
	font-size: 30px;
	text-align: center;
	margin-left: 25px;
	margin-bottom: 10px;
	border: 1px dashed grey;
	border-radius: 6px;
}


.accueil{
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background-image: url("../ressources/accueil/texture_liege.jpg");
	background-repeat: repeat;
	/* background-size: cover; */
}

.accueil .carte{
	height: 540px;
	width: 900px;
	/* width: 100%; */
	position: relative;
	transform: rotate(-3deg);
}

.carte .map_bg{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: auto;
	object-fit: scale-down;
	z-index: 1;
}

.scotch{
	position: absolute;
	z-index: 2;
}

.haut_gauche{
	top: -130px;
	left: -130px;
	width: 300px;
	transform: rotate(-50deg);
}

.bas_gauche{
	top: 380px;
	left: -130px;
	width: 300px;
	transform: rotate(30deg);
}

.haut_droit{
	top: -130px;
	left: 750px;
	width: 300px;
	transform: rotate(40deg);
}

.bas_droit{
	top: 380px;
	left: 750px;
	width: 300px;
	transform: rotate(-40deg);
}

/* _______________________________
--------	CONTINENTS		-------
_______________________________ */

.img_continent{
	filter: hue-rotate(0deg);
	-webkit-filter: hue-rotate(0deg);
	opacity: 0;
	transition: visibility 0.3s linear,
				opacity 0.3s linear,
				filter 0.3s linear,
				left 0.3s ease,
				top 0.3s ease;
}

/* .img_continent:hover{
	visibility: visible;
	opacity: 1;
	filter: hue-rotate(120deg);
	-webkit-filter: hue-rotate(120deg);
} */

.lien_continent{
	text-decoration: none;
	color: black;
}

a:hover + article{
	opacity: 1;
	font-family: 'Libre Barcode 128 Text', cursive;
	font-size: 40px;
	z-index: 10;
}

article h1{
	font-family: 'Libre Barcode 128 Text', cursive;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

/* _______________________________
--------	AFRIQUE		-------
_______________________________ */


.continent_afrique{
	margin: 0;
	padding: 0;
	position: absolute;
	transition: left 0.3s ease,
				top 0.3s ease;
	left: 349px;
	top: 194px;
	z-index: 2;
	object-fit: fill;
}

.continent_afrique:hover{
	left: 360px;
	top: 200px;
	z-index: 3;
}

.continent_afrique:hover .img_continent{
	visibility: visible;
	opacity: 1;
	filter: hue-rotate(120deg);
	-webkit-filter: hue-rotate(120deg);
}

.img_afrique{
	position: absolute;
	height: 260px;
	width: 222px;
}


.pin_afrique{
	position:absolute;
	top: -20px;
	left: 54px;
	z-index: 5;
}

.pin_aicha_tunisie{

	height: 50px;
	width: auto;
	top: -20px;
	left: 55px;
}

.art_aicha_tunisie{
	position: absolute;
	height: 130px;
	padding-left: 5px;
	padding-right: 5px;
	width: auto;
	top: -20px;
	left: -120px;
	border-radius: 10px 10px 10px 10px;
	background-color: white;
	opacity: 0;
	z-index: 0;
	text-align: center;
}

.art_aicha_namibie{
	position: absolute;
	height: 130px;
	width: auto;
	padding-left: 5px;
	padding-right: 5px;
	top: 180px;
	left: -100px;
	border-radius: 10px 10px 10px 10px;
	background-color: white;
	opacity: 0;
	z-index: 0;
	text-align: center;
}

.pin_aicha_namibie{
	position: absolute;
	height: 50px;
	width: auto;
	top: 170px;
	left: 23px;
}

.pin_aicha_namibie:hover + article{
	opacity: 1;
	font-family: 'Libre Barcode 128 Text', cursive;
	font-size: 40px;
	z-index: 10;
}

.continent_afrique .tampon{
	position: absolute;
	top: 50px;
	left: 30px;
	transform: rotate(-10deg);
	font-family: 'Tampon';
	font-size: 40px;
	z-index: 2;
}




/* _______________________________
--------	EUROPE		-------
_______________________________ */
.continent_europe{
	margin: 0;
	padding: 0;
	position: absolute;
	transition: left 0.3s ease,
				top 0.3s ease;
	left: 376px;
	top: 94px;
	z-index: 2;
	object-fit: fill;
}

.continent_europe:hover{
	left: 380px;
	top: 80px;
	z-index: 3;
}

.continent_europe:hover .img_continent{
	visibility: visible;
	opacity: 1;
	filter: hue-rotate(120deg);
	-webkit-filter: hue-rotate(120deg);
}

.img_europe{
	position: absolute;
	height: auto;
	width: 190px;
}


.pin_europe{
	position:absolute;
	top: 0px;
	left: 0px;
	z-index: 5;
}

.pin_laurie_irlande{
	position: absolute;
	height: 50px;
	width: auto;
	top: 24px;
	left: -8px;
}

.art_laurie_irlande{
	position: absolute;
	height: 130px;
	padding-left: 5px;
	padding-right: 5px;
	width: auto;
	top: -20px;
	left: -120px;
	border-radius: 10px 10px 10px 10px;
	background-color: white;
	opacity: 0;
	z-index: 0;
	text-align: center;
}

.pin_laurie_autriche{
	position: absolute;
	height: 50px;
	width: auto;
	top: 43px;
	left: 45px;
}

.art_laurie_autriche{
	position: absolute;
	height: 130px;
	width: auto;
	padding-left: 5px;
	padding-right: 5px;
	top: 80px;
	left: 100px;
	border-radius: 10px 10px 10px 10px;
	background-color: white;
	opacity: 0;
	z-index: 0;
	text-align: center;
}

.pin_laurie_autriche:hover + article{
	opacity: 1;
	font-family: 'Libre Barcode 128 Text', cursive;
	font-size: 40px;
	z-index: 10;
}

.continent_europe .tampon{
	position: absolute;
	top: -20px;
	left: 20px;
	transform: rotate(20deg);
	font-family: 'Tampon';
	font-size: 40px;
	z-index: 2;
}

/* .europe{
	width: 22%;
	left: 375px;
	top: 90px;
	z-index: 2;
	height: auto;
	object-fit: cover;
}

.europe:hover{
	left: 380px;
	top: 80px;
	z-index: 4;
} */

/* _______________________________
--------	ASIE		-------
_______________________________ */

.continent_asie{
	margin: 0;
	padding: 0;
	position: absolute;
	transition: left 0.3s ease,
				top 0.3s ease;
	left: 486px;
	top: 90px;
	z-index: 2;
	object-fit: fill;
}

.continent_asie:hover{
	left: 500px;
	top: 80px;
	z-index: 3;
}

.continent_asie:hover .img_continent{
	visibility: visible;
	opacity: 1;
	filter: hue-rotate(120deg);
	-webkit-filter: hue-rotate(120deg);
}

.img_asie{
	position: absolute;
	height: auto;
	width: 370px;
}


.pin_asie{
	position:absolute;
	top: 0px;
	left: 0px;
	z-index: 5;
}

.pin_chine{
	position: absolute;
	height: 50px;
	width: auto;
	top: 100px;
	left: 170px;
}

.art_chine{
	position: absolute;
	height: 130px;
	padding-left: 5px;
	padding-right: 5px;
	width: auto;
	top: 130px;
	left: 70px;
	border-radius: 10px 10px 10px 10px;
	background-color: white;
	opacity: 0;
	z-index: 0;
	text-align: center;
}

.pin_coree{
	position: absolute;
	height: 50px;
	width: auto;
	top: 80px;
	left: 223px;
}

.art_coree{
	position: absolute;
	height: 130px;
	width: auto;
	padding-left: 5px;
	padding-right: 5px;
	top: 80px;
	left: 280px;
	border-radius: 10px 10px 10px 10px;
	background-color: white;
	opacity: 0;
	z-index: 0;
	text-align: center;
}

.pin_chine:hover + article{
	opacity: 1;
	font-family: 'Libre Barcode 128 Text', cursive;
	font-size: 40px;
	z-index: 10;
}

.continent_asie .tampon{
	position: absolute;
	top: 40px;
	left: 100px;
	transform: rotate(-5deg);
	font-family: 'Tampon';
	font-size: 40px;
	z-index: 2;
}

/* .asie{
	width: 41%;
	left: 486px;
	top: 90px;
	z-index: 2;
	height: auto;
	object-fit: scale-down;
}

.asie:hover{
	left: 510px;
	top: 85px;
	z-index: 4;
} */

/* _______________________________
--------	OCEANIE		-------
_______________________________ */
.continent_oceanie{
	margin: 0;
	padding: 0;
	position: absolute;
	transition: left 0.3s ease,
				top 0.3s ease;
	left: 690px;
	top: 342px;
	z-index: 2;
	object-fit: fill;
}

.continent_oceanie:hover{
	left: 720px;
	top: 360px;
	z-index: 3;
}

.continent_oceanie:hover .img_continent{
	visibility: visible;
	opacity: 1;
	filter: hue-rotate(120deg);
	-webkit-filter: hue-rotate(120deg);
}

.img_oceanie{
	position: absolute;
	height: auto;
	width: 190px;
}


.pin_oceanie{
	position:absolute;
	top: 0px;
	left: 0px;
	z-index: 5;
}

.pin_australie{
	position: absolute;
	height: 50px;
	width: auto;
	top: 30px;
	left: 70px;
}

.art_australie{
	position: absolute;
	height: 130px;
	padding-left: 5px;
	padding-right: 5px;
	width: auto;
	top: -100px;
	left: -100px;
	border-radius: 10px 10px 10px 10px;
	background-color: white;
	opacity: 0;
	z-index: 0;
	text-align: center;
}

.pin_new_z{
	position: absolute;
	height: 50px;
	width: auto;
	top: 75px;
	left: 110px;
}

.art_new_z{
	position: absolute;
	height: 180px;
	width: auto;
	padding-left: 5px;
	padding-right: 5px;
	top: -170px;
	left: 40px;
	border-radius: 10px 10px 10px 10px;
	background-color: white;
	opacity: 0;
	z-index: 0;
	text-align: center;
}

.pin_chine:hover + article{
	opacity: 1;
	font-family: 'Libre Barcode 128 Text', cursive;
	font-size: 40px;
	z-index: 10;
}

.continent_oceanie .tampon{
	position: absolute;
	top: 40px;
	left: -80px;
	transform: rotate(-5deg);
	font-family: 'Tampon';
	font-size: 40px;
	z-index: 2;
}
/* .oceanie{
	width: 21%;
	left: 690px;
	top: 342px;
	z-index: 2;
	height: auto;
	object-fit: scale-down;
}

.oceanie:hover{
	left: 720px;
	top: 358px;
	z-index: 4;
} */

/* _______________________________
--------	AMERIQUE		-------
_______________________________ */

.continent_amerique{
	margin: 0;
	padding: 0;
	position: absolute;
	transition: left 0.3s ease,
				top 0.3s ease;
	left: 0px;
	top: 0px;
	z-index: 2;
	object-fit: fill;
}

.continent_amerique:hover{
	left: -40px;
	top: 10px;
	z-index: 3;
}

.continent_amerique:hover .img_continent{
	visibility: visible;
	opacity: 1;
	filter: hue-rotate(120deg);
	-webkit-filter: hue-rotate(120deg);
}

.img_amerique{
	position: absolute;
	height: auto;
	width: 405px;
}


.pin_amerique{
	position:absolute;
	top: 0px;
	left: 0px;
	z-index: 5;
}

.pin_mexique{
	position: absolute;
	height: 50px;
	width: auto;
	top: 215px;
	left: 115px;
}

.art_mexique{
	position: absolute;
	height: 130px;
	padding-left: 5px;
	padding-right: 5px;
	width: auto;
	top: 80px;
	left: 130px;
	border-radius: 10px 10px 10px 10px;
	background-color: white;
	opacity: 0;
	z-index: 0;
	text-align: center;
}

.pin_bresil{
	position: absolute;
	height: 50px;
	width: auto;
	top: 320px;
	left: 250px;
}

.art_bresil{
	position: absolute;
	height: 130px;
	width: auto;
	padding-left: 5px;
	padding-right: 5px;
	top: 320px;
	left: 330px;
	border-radius: 10px 10px 10px 10px;
	background-color: white;
	opacity: 0;
	z-index: 0;
	text-align: center;
}

.pin_bresil:hover + article{
	opacity: 1;
	font-family: 'Libre Barcode 128 Text', cursive;
	font-size: 40px;
	z-index: 10;
}

.continent_amerique .tampon{
	position: absolute;
	top: 230px;
	left: 80px;
	transform: rotate(-5deg);
	font-family: 'Tampon';
	font-size: 40px;
	z-index: 2;
}
/* .amerique{
	width: 45%;
	left: 0px;
	top: 0px;
	z-index: 2;
	height: auto;
	object-fit: scale-down;
}

.amerique:hover{
	left: -10px;
	top: -6px;
	z-index: 4;
} */

/* .aicha{
	position: absolute;
	z-index: 3;
	height: 20px;
	top 200px;
} */


/* _______________________________
--------	PROFILS		-------
_______________________________ */

.profils{
	position: relative;
	height: 400px;
}

.titre{
	position: absolute;
	top: 0px;
	left: -100px;
}

.papier_titre{
	height: 200px;
	position: absolute;
	top: -50px;
	left: -80px;
	z-index: 0;
}

.titre h1{
	position: absolute;
	top: -30px;
	left: 70px;
	width: 400px;
	position: absolute;
	font-family: 'Queen';
	font-size: 3em;
	color: black;
	z-index: 5;
}
