body
{
    margin: 0;
}

  /* accueil-image */
  
  .centered1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 250px;
  }

 .accueil-container {
    position: relative;
    text-align: center;
    color: white;
  }

  .imgaccueil
  {
      max-width: 100%;
  }

  /* Background-namibie */
 
  .backgroundnamibie1
  {
      background-image: url(../ressources/Afrique/namibie/namibie.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment:fixed;
      max-width: 100%;
      height: 800px;
      font-size: 40px;
      color: white;
      padding: 30px;
  }
  .backgroundnamibie1 h1,   .backgroundnamibie1 h2
  {
     text-decoration: underline;
  }


  .backgroundnamibie h1
  {
      font-size: 70px;
      text-align: center;
  }

  .textbutton-container h2, a
  {
      font-size: 20px;
      text-decoration: none;
  }

  .textbutton-container
  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  hr
  {
      border: none;
      border: 1px solid white;
  }

  .desert-container
  {
      display: flex;
      flex-direction: row;
      justify-content: center;
  }

  .desert-container img
  {
      max-width: 30%;
  }

  .aventure
  {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 45px;
  }

  .aventure p
 {
    text-align: justify;
    width: 40%;
    color: white;
 }

 .aventure h1
 {
    color: yellow;
    font-size: 30px;
    text-decoration: underline;
 }

 .smallarticle
 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 45px;
    background-color: rgb(248, 238, 147);
 }

 .smallarticle p
 {
    text-align: justify;
 }
 .smallarticle h1
{
  text-align: center;
  color: white;
}

 .storytelling-container
 {
     display: flex;
     flex-direction: row;
 }

 .smallarticle a
 {
     background-color: black;
     padding: 10px;
     color: rgb(250, 250, 73);
     border-radius: 5px;
     
 }

 .smallarticle a:hover
 {
     background-color: rgb(223, 223, 43);
 }



 /* Section-Tunisie */

.backgroundtunisie
 {
     color: black;
 }

 .backgroundtunisie h1
{
    font-size: 70px;
    text-align: center;
    padding: 300px;
}

  
.bottomleft {
    position: absolute;
  bottom: 8px;
  left: 16px;
  font-size: 40px;
  }

 .tunisie-container {
    position: relative;
    text-align: center;
    color: white;
  }

  .imgaccueil1
  {
      max-width: 100%;
  }

  .smallarticle1
  {
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 45px;
     background-color: rgb(0, 51, 218);
  }
 
  .smallarticle1 p
  {
     text-align: justify;
  }
  .smallarticle1 h1
 {
   text-align: center;
   color: white;
   padding: 10px 10px;
   border: 1px solid white;
   border-radius: 5px;
 }

 .smallarticle1 a
 {
     background-color: rgb(73, 105, 250);
     padding: 10px;
     color: white;
     border-radius: 5px;
     
 }

 .smallarticle1 a:hover
 {
     background-color: rgb(223, 223, 43);
 }

 span
 {
     margin: 30px;
     padding: 20px 10px ;
     border-radius: 10px;
     border: 5px solid white;
     background-color: rgb(223, 223, 43);
 }

 span:hover
 {
     background-color: rgb(131, 131, 27);
 }

 .activity-container
 {
     display: flex;
     flex-direction: row;
     padding: 30px;
 }
 .activity-container h2
 {
    border: 5px solid white;
    background-color: rgb(223, 223, 43);
    text-align: center;
    padding: 10px;
    color: white;
 }

.activity-container img
{
    max-width: 100%;
    filter: brightness(0.75) contrast(1) sepia(0.7) hue-rotate(-5deg) saturate(3.5);
}

.save
{
    text-align: center;
}
.save a
{
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 20px;
}

.save a:hover
{
    box-shadow:
    1px 1px #53a7ea,
    2px 2px #53a7ea,
    3px 3px #53a7ea;
-webkit-transform: translateX(-3px);
transform: translateX(-3px);
}



/* Animation-slide */

 @keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
    }
    
    div#slider { overflow: hidden; }
    div#slider figure img { width: 20%; float: left; }
    div#slider figure { 
      position: relative;
      width: 500%;
      margin: 0;
      left: 0;
      text-align: left;
      font-size: 0;
      animation: 15s slidy infinite; 
    }
    
  
