body
{
    margin: 0;
}

  /* accueil-image */
  
  .centered1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 250px;
  }

 .accueil-container {
    position: relative;
    text-align: center;
    color: white;
  }

  .imgaccueil
  {
      max-width: 100%;
  }

  /* Background-namibie */
 
  .backgroundnamibie1
  {
      background-image: url(../ressources/Afrique/namibie/namibie.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment:fixed;
      max-width: 100%;
      height: 800px;
      font-size: 40px;
      color: white;
      padding: 30px;
  }
  .backgroundnamibie1 h1,   .backgroundnamibie1 h2
  {
     text-decoration: underline;
  }


  .backgroundnamibie h1
  {
      font-size: 70px;
      text-align: center;
  }

  .textbutton-container h2, a
  {
      font-size: 20px;
      text-decoration: none;
  }

  .textbutton-container
  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  hr
  {
      border: none;
      border: 1px solid white;
  }

  .desert-container
  {
      display: flex;
      flex-direction: row;
      justify-content: center;
  }

  .desert-container img
  {
      max-width: 30%;
  }

  .aventure
  {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 45px;
  }

  .aventure p
 {
    text-align: justify;
    width: 40%;
    color: white;
 }

 .aventure h1
 {
    color: yellow;
    font-size: 30px;
    text-decoration: underline;
 }
