  body
  {
      margin: 0;
  }
  /* accueil-image */
  
  .centered1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 250px;
  }

 .accueil-container {
    position: relative;
    text-align: center;
    color: white;
  }

  .imgaccueil
  {
      max-width: 100%;
  }

  /* Mexique */

  .mexico1-container img
  {
    max-width: 50%;
  }

  .mexico1-container
  {
      display: flex;
      flex-direction: row;
  }
 .scroller-container 
{
    height: 440px;
    overflow-y: scroll;
    border: 5px solid blueviolet;
 
}
video
{
    width: 800px;
}
.general-container
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.frida
{
    max-width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}

.frida-text
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.frida-text p
{
    width: 70%;
    text-align: justify;
}
.artfrida-container img
{
  max-width: 30%;
  border: 5px solid blueviolet;
}

.artfrida-container
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   margin: 30px;
}

.title-amerique
{
    font-size: 40px;
    text-align: center;
}