/* *{
	border: 1px solid black;
} */
@font-face {
	font-family: 'Tampon';
	src: url('../ressources/typos/old_stamper.ttf');
}

html, body{
	margin: 0;
	width: 100vw;
}

header{
	width: 100%;
	height: 10vh;
	background-color: blue;
	padding: 0;
	text-align: center;
	margin: 0;
}

header h1{
	margin: 0;
}

.accueil{
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.accueil .carte{
	height: 540px;
	width: 900px;
	/* width: 100%; */
	position: relative;
}

.carte .map_bg{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: auto;
	object-fit: scale-down;
	z-index: 1;
}

/* _______________________________
--------	CONTINENTS		-------
_______________________________ */

.continent_afrique{
	margin: 0;
	padding: 0;
	position: absolute;

}

.img_continent{
	filter: hue-rotate(0deg);
	-webkit-filter: hue-rotate(0deg);
	opacity: 0;
	transition: visibility 0.3s linear,
				opacity 0.3s linear,
				filter 0.3s linear,
				left 0.3s ease,
				top 0.3s ease;
}

/* .img_continent:hover{
	visibility: visible;
	opacity: 1;
	filter: hue-rotate(120deg);
	-webkit-filter: hue-rotate(120deg);
} */

/* _______________________________
--------	AFRIQUE		-------
_______________________________ */


.continent_afrique{
	transition: left 0.3s ease,
				top 0.3s ease;
	left: 349px;
	top: 194px;
	z-index: 2;
	object-fit: fill;
}

.continent_afrique:hover{
	left: 360px;
	top: 200px;
	z-index: 3;
}

.continent_afrique:hover .img_continent{
	visibility: visible;
	opacity: 1;
	filter: hue-rotate(120deg);
	-webkit-filter: hue-rotate(120deg);
}

.img_afrique{
	position: absolute;
	height: 260px;
	width: 222px;
}


.pin_afrique{
	position:absolute;
	top: -20px;
	left: 54px;
	z-index: 5;
}

.pin_aicha_tunisie{

	height: 50px;
	width: auto;
	top: -20px;
	left: 55px;
}

.art_aicha_tunisie{
	position: absolute;
	height: 130px;
	padding-left: 5px;
	padding-right: 5px;
	width: auto;
	top: -20px;
	left: -120px;
	border-radius: 10px 10px 10px 10px;
	background-color: white;
	opacity: 0;
	z-index: 0;
	text-align: center;
}

/* .continent article{
	height: 100px;
	width : 100px;
	background-color: blue;
	opacity: 0;
	z-index: 10;
} */



a:hover + article{
	opacity: 1;
	font-family: 'Libre Barcode 128 Text', cursive;
	font-size: 40px;
	z-index: 10;
}

article h1{
	font-family: 'Libre Barcode 128 Text', cursive;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.art_aicha_namibie{
	position: absolute;
	height: 130px;
	width: auto;
	padding-left: 5px;
	padding-right: 5px;
	top: 180px;
	left: -100px;
	border-radius: 10px 10px 10px 10px;
	background-color: white;
	opacity: 0;
	z-index: 0;
	text-align: center;
}

.pin_aicha_namibie{
	position: absolute;
	height: 50px;
	width: auto;
	top: 170px;
	left: 23px;
}

.pin_aicha_namibie:hover + article{
	opacity: 1;
	font-family: 'Libre Barcode 128 Text', cursive;
	font-size: 40px;
	z-index: 10;
}

.continent_afrique .tampon{
	position: absolute;
	top: 50px;
	left: 30px;
	transform: rotate(-10deg);
	font-family: 'Tampon';
	font-size: 40px;
	z-index: 2;
}




/* _______________________________
--------	EUROPE		-------
_______________________________ */


.europe{
	width: 22%;
	left: 375px;
	top: 90px;
	z-index: 2;
	height: auto;
	object-fit: cover;
}

.europe:hover{
	left: 380px;
	top: 80px;
	z-index: 4;
}

.asie{
	width: 41%;
	left: 486px;
	top: 90px;
	z-index: 2;
	height: auto;
	object-fit: scale-down;
}

.asie:hover{
	left: 510px;
	top: 85px;
	z-index: 4;
}

.oceanie{
	width: 21%;
	left: 690px;
	top: 342px;
	z-index: 2;
	height: auto;
	object-fit: scale-down;
}

.oceanie:hover{
	left: 720px;
	top: 358px;
	z-index: 4;
}

.amerique{
	width: 45%;
	left: 0px;
	top: 0px;
	z-index: 2;
	height: auto;
	object-fit: scale-down;
}

.amerique:hover{
	left: -10px;
	top: -6px;
	z-index: 4;
}

.aicha{
	position: absolute;
	z-index: 3;
	height: 20px;
	top 200px;
}
